---
import "@fontsource-variable/inter";
import "@fontsource/quicksand";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/android-chrome-512x512.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script
			src="https://unpkg.com/htmx.org@1.9.9"
			integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX"
			crossorigin="anonymous"></script>
	</head>
	<body class="text-slate-800">
		<div
			class="warning hidden fixed w-full top-0 left-0 px-4 py-6 bg-yellow-300 z-50 text-center text-yellow-900"
		>
			This is a test
		</div>
		<main class="max-w-2xl mx-auto"><slot /></main>
		<script>
			const images = document.querySelectorAll("img.protected");
			const warning = document.querySelector(".warning");

			function clearWarning() {
				warning.textContent = "";
				warning.classList.add("hidden");
			}

			function hideImages() {
				images.forEach((image) => image.classList.add("blur-xl"));
			}

			function showImages() {
				images.forEach((image) => image.classList.remove("blur-xl"));
			}

			function showWarning(message: string) {
				warning.textContent = message;
				warning.classList.remove("hidden");
			}

			window.addEventListener("blur", () => {
				hideImages();
			});

			window.addEventListener("focus", () => {
				clearWarning();
				showImages();
			});

			window.addEventListener("load", () => {
				if (document.hasFocus()) {
					showImages();
				}
			});

			document.addEventListener("keydown", (e) => {
				if (e.ctrlKey && e.code == "KeyP") {
					e.preventDefault();
					e.stopPropagation();
					showWarning("Printing of this page has been disabled");
				}

				if (e.shiftKey && e.metaKey) {
					hideImages();
					showWarning(
						"It looks like you might be initiating a screenshot. Protected images have been blurred. To view these images again please reload the page.",
					);
				}
			});

			document.addEventListener("keyup", (e) => {
				// TODO: Need to find a better way to handle print screen
				if (e.code == "PrintScreen") {
					hideImages();
					showWarning(
						"It looks like you might be initiating a screenshot. Protected images have been blurred. To view these images again please reload the page.",
					);
					navigator.clipboard.writeText("");
				}
			});
		</script>
	</body>
</html>

<style is:global>
	@media print {
		html,
		body {
			display: none;
		}
	}
</style>
